.text {
    text-align: center;
    font-size: 30px;
}
.noi {
    text-align: left;
    font-size: 15px;
    margin-top: 50px;
}
.noi .poza
{
    padding-top: 150px;
    width: 190px;
    background-image: url(Screenshot\ 2023-11-24\ 092922.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 1.2s;
}
.noi .poza:hover
{
    transform: rotate(360deg);
}