.cezar
{
    background-color: rgba(182, 251, 251, 0.656);
}
.cezar2
{
    margin-left: 35%;
    margin-right: 43%;
    border: 1px black solid;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.69);
}
